body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(time.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clock-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#digital-clock{
    font-family: monospace;
    font-size: 5rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 10px;
    color: rgb(244, 245, 244);
    text-align: center;
}